<h2>Personen Übersicht</h2>

<p-table [value]="people" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>SVNR</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Telefonnummer</th>
      <th>Krank</th>
      <th>Symptome</th>
      <th>Quarantäne</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td>{{person.svnr}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.phoneNumber}}</td>
      <td>{{person.sickInformation.sick}}</td>
      <td>{{person.sickInformation.symptoms}}</td>
      <td>{{person.sickInformation.quarantine}}</td>
    </tr>
  </ng-template>
</p-table>
